.modal-window{
    width: 100%;
    height: calc(100% + 45px);
    position: fixed;
    top: -45px;
    left: 0;
    background-color: RGBA(0,0,0,0.5);
    display: none;
}

.modal-window input:first-of-type{
    margin-bottom: 30px;
}

.modal-window input:last-of-type{
    margin-bottom: 48px;
}
