.modal_window__submit_button{
    border: 0;
    background-color: #000;
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin: 0 auto 36px 36px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.modal_window__submit_button:hover{
    opacity: 0.6;
}

@media screen and (max-width: 900px){
    .modal_window__submit_button{
        margin-left: 22px;
        margin-bottom: 25px;
    }
}