.profile__avatar-container{
    position: relative;
    width: 125px;
    height: 125px;
    overflow: hidden;
}
@media screen and (max-width: 900px){
    .profile__avatar-container{
        width: 200px;
        height: 200px;
    }
}

.profile__avatar-container:hover .profile__avatar-edit-button{
    visibility: visible;
}