.modal_window__close_button{
    background-color: rgba(0,0,0,0);
    border: rgba(255,255,255,0);
    padding: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    right: -40px;
    top: -40px;
}

.modal_window__close_button:hover{
    opacity: 0.6;
}

@media screen and (max-width: 900px){
    .modal_window__close_button{
        width: 26px;
        height: 26px;
        right: 0;
        top: -40px;
    }
}